<div class="col-lg-4" style="width: 230px;float: left;">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">主机列表</h3>
        </div>
        <div class="panel-body">
                <div class="list-group bord-no">
                    <a onclick="HostListDisplayToggle(this)" class="list-group-item " href="#">
                        <input type="checkbox" onclick="SelectGroup(this)">
                        全部主机
                        <span class="badge badge-primary">{{ hosts.count }}</span>
                    </a>
                    <ol class="hide">
                        {% for bind_host in hosts %}
                            <li><input type="checkbox"  select_host="true" value="{{ bind_host.id }}">{{ bind_host.hostname }}-{{ bind_host.ip_addr }}</li>
                        {% endfor %}
                    </ol>



                    {% for bus in business.select_related %}

                        <a onclick="HostListDisplayToggle(this)" class="list-group-item " href="#">
                            <input type="checkbox" onclick="SelectGroup(this)">
                            {{ bus.name }}
                            <span class="badge badge-primary">{{ bus.host_set.count }}</span>
                        </a>
                        <ol class="hide">
                            {% for host in bus.host_set.all %}
                                <li><input type="checkbox"  select_host="true" value="{{ host.id }}">{{ host.hostname }}-{{ host.ip_addr }}</li>
                            {% endfor %}
                        </ol>


                    {% endfor %}
                </div>
        </div>
    </div>

</div>