{% extends 'index.html' %}


{% block page-title %}监控{% endblock %}

{% block page-content %}
    {% csrf_token %}

<div class="row">

    {% include 'host_list_component.html' %}

    <div class="panel panel-primary" style="margin-left: 235px;">

        <!--Panel heading-->
        <div class="panel-heading">
            <div class="panel-control">

                <!--Nav tabs-->
                <ul class="nav nav-tabs">
                    <li id="myTab" class="active"><a data-toggle="tab" href="#tablespace" onclick="addIframe()">表空间</a>
                    </li>
                    <li><a data-toggle="tab" href="#demo-tabs-box-2">等待事件</a>
                    </li>
                </ul>

            </div>
            <h3 class="panel-title">监控项</h3>
        </div>

        <!--Panel body-->
        <div class="panel-body" style="padding-bottom: 20px;" >

            <!--Tabs content-->
            <div class="tab-content">
                <div id="tablespace" class="tab-pane fade in active" >

                </div>

                <div id="demo-tabs-box-2" class="tab-pane fade">
                    <h4 class="text-thin">Second Tab Content</h4>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/static/echarts.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/static/jquery-2.1.1.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js"></script>
{#{% include 'host_list_js_component.html' %}#}
<script type="text/javascript">




    function addIframe() {
        $("div").remove("#tablespace div");
        $("#tablespace").find('iframe').remove()
        var iframe = document.createElement('iframe')
        iframe.setAttribute("src","../monitor/tablespace")
        iframe.setAttribute("style","width:950px;height:425px")
        iframe.setAttribute("frameborder","0")
        $("#tablespace").append(iframe)
    }

</script>

{% endblock %}