{% extends 'index.html' %}


{% block page-title %}监控{% endblock %}

{% block page-content %}
    {% csrf_token %}

<div class="row">

    {% include 'host_list_component.html' %}

    <div class="panel panel-primary" style="float: left;width:1000px;height:400px;">

								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">

										<!--Nav tabs-->
										<ul class="nav nav-tabs">
											<li class="active"><a data-toggle="tab" href="#tablespace">表空间</a>
											</li>
											<li><a data-toggle="tab" href="#demo-tabs-box-2">等待事件</a>
											</li>
										</ul>

									</div>
									<h3 class="panel-title">监控项</h3>
								</div>

								<!--Panel body-->
								<div class="panel-body">

									<!--Tabs content-->
									<div class="tab-content">
										<div id="tablespace" class="tab-pane fade in active" style="position: relative;">
											<div id="main" style="position: absolute;width:500px;height:200px;left:1%"></div>
										</div>
										<div id="demo-tabs-box-2" class="tab-pane fade">
											<h4 class="text-thin">Second Tab Content</h4>
											<p>Duis autem vel eum iriure dolor in hendrerit in vulputate.</p>
										</div>
									</div>
								</div>
							</div>

</div>

<script src="/static/echarts.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/static/jquery-2.1.1.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js"></script>
{#{% include 'host_list_js_component.html' %}#}
<script type="text/javascript">
        // 使用
        var myChart = echarts.init(document.getElementById('main'));

                // 基于准备好的dom，初始化echarts图表
        var tbs_name = [{% for tbs in tablespace_img %}'{{ tbs.name }}',{% endfor %}]
        var tbs_used = [{% for tbs in tablespace_img %}'{{ tbs.used_size | floatformat:1 }}',{% endfor %}]
        var tbs_free = [{% for tbs in tablespace_img %}'{{ tbs.free_size | floatformat:1 }}',{% endfor %}]
        var ip_addr = "{{ tablespace_img.0.host }}"
        var a = {{ tablespace_img.tablespace.host }}
        console.log(a)
        var option = {
                    title : {
                        text: '表空间',
                        subtext: "IP地址："+ip_addr
                    },
                    label: {
                        textStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        }
                    },
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    legend: {
                        data:['已用（MB）','剩余(MB)']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : tbs_name
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                            formatter: '{value} MB'
                        }
                        }
                    ],
                    series : [
                        {
                            name:'已用（MB）',
                            type:'bar',
                            stack: '表空间',
                            data: tbs_used
                        },
                        {
                            name:'剩余(MB)',
                            type:'bar',
                            stack: '表空间',
                            data: tbs_free
                        },


                    ]
                };
        // 为echarts对象加载数据
        myChart.setOption(option);



    </script>

{% endblock %}