<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <script src="/static/echarts.min.js"></script> -->
    <script src="/static/echarts.min.js" charset="utf-8" type="text/javascript"></script>
    <script src="/static/jquery-2.1.1.min.js" charset="utf-8" type="text/javascript"></script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>表空间名</th>
                <th>总空间(M)</th>
                <th>已使用(M)</th>
                <th>空闲(M)</th>
            </tr>
        </thead>
        <tbody>
            {%  for tbs in tablespace_img %}
            <tr>
                <td>{{ tbs.name }}</td>
                <td>{{ tbs.total_size }}</td>
                <td>{{ tbs.used_size }}</td>
                <td>{{ tbs.free_size }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

     <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width:1000px;height:400px"></div>
    <div id="resText" style="width:1000px;height:400px"></div>
    <!-- ECharts单文件引入 -->
    <!-- <script src="http://echarts.baidu.com/build/dist/echarts.js"></script> -->
    <script type="text/javascript">
        // 使用
        var myChart = echarts.init(document.getElementById('main'));

                // 基于准备好的dom，初始化echarts图表
        var tbs_name = [{% for tbs in tablespace_img %}'{{ tbs.name }}',{% endfor %}]
        var tbs_used = [{% for tbs in tablespace_img %}'{{ tbs.used_size }}',{% endfor %}]
        var tbs_free = [{% for tbs in tablespace_img %}'{{ tbs.free_size }}',{% endfor %}]
        var option = {
                    label: {
                        textStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        }
                    },
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    legend: {
                        data:['已用（MB）','剩余(MB)']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : tbs_name
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'已用（MB）',
                            type:'bar',
                            stack: '表空间',
                            data: tbs_used
                        },
                        {
                            name:'剩余(MB)',
                            type:'bar',
                            stack: '表空间',
                            data: tbs_free
                        },


                    ]
                };
        // 为echarts对象加载数据
        myChart.setOption(option);
        myChart.on('click', function (params) {
            //判断<div>中是否有iframe标签，有就删除
            var div = document.getElementById("resText");
            while(div.hasChildNodes())  //当div下还存在子节点时 循环继续
            {
                div.removeChild(div.firstChild);
            }
            // 添加iframe标签到<div中><iframe src="../detail" frameborder="0"></iframe>
            var iframe = document.createElement('iframe')
            iframe.setAttribute("src","../detail?tbs=" + params.name)
            iframe.setAttribute("style","width:1000px;height:400px")
            iframe.setAttribute("frameborder","0")
            $("#resText").append(iframe)
             //window.location.href="../detail?tbs=" + params.name

        });

    </script>
</body>
</html>